@using MvcOvertime.Models
@model IEnumerable<MvcOvertime.ViewModels.ViewModel>

@{
    ViewData["Title"] = "Available Overtime";
}

<h1>Available Overtime</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overtime.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overtime.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overtime.NumberOfHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overtime.DtStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overtime.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overtime.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overtime.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overtime.NumberOfHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overtime.DtStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overtime.EndTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Overtime.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Overtime.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Overtime.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
